.basket {
  width: 100%;
  .container {
    width: 1200px;
    background-color: rgb(197, 173, 173);
    margin: auto;
    text-align: center;
    .card {
      width: 100%;
      margin-bottom: 30px;
      .imgWrapper {
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
        img {
          width: 100%;
          object-fit: cover !important;
        }
      }
      .details {
        .name {
          font-size: 25px;
          padding-bottom: 10px;
          margin: auto;
        }
        .likeStars {
          margin-bottom: 15px;
          margin-top: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          .star {
            padding-right: 25px;
          }

          .star,
          .like {
            button {
              background-color: transparent;
              border: none;
              .icon {
                font-size: 20px;
                color: red;
                padding: 0;
              }
            }

            :first-child {
              padding-right: 8px;
              cursor: pointer;
            }
          }
        }
        p {
          width: 70%;
          margin: auto;
          margin-bottom: 15px;
        }
        .buttons {
          button {
            padding: 5px 15px;
            font-size: 8px;
            cursor: pointer;
          }
          :first-child {
            background-color: black;
            color: white;
            margin-right: 10px;
          }
          :nth-child(2) {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}
